@using ProductCatalog.PL.Models
@model IEnumerable<ProductVM>
@{
    ViewData["Title"] = "All Products";
}

<h3>@ViewData["Title"]</h3>

<a class="btn btn-primary" asp-controller="Product" asp-action="Add">Add Product</a>
@if (!Model.Any())
{
    <div class="alert-warning">No Products</div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(p=>p.Name)</th>
                <th>@Html.DisplayNameFor(p=>p.Category)</th>
                <th>@Html.DisplayNameFor(p=>p.CreationDate)</th>
                <th>@Html.DisplayNameFor(p=>p.Duration)</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Category.Name</td>
                    <td>@product.CreationDate</td>
                    <td>@product.Duration</td>
                </tr>
            }
        </tbody>
    </table>
}
