@using ProductCatalog.PL.Models
@model IEnumerable<ProductVM>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(p => p.Name)</th>
            <th>@Html.DisplayNameFor(p => p.Category)</th>
            <th>@Html.DisplayNameFor(p => p.StartDate)</th>
            <th>@Html.DisplayNameFor(p => p.Duration)</th>
            <th>@Html.DisplayNameFor(p => p.Price)</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Category.Name</td>
                <td>@product.StartDate</td>
                <td>@product.Duration.Days Days @product.Duration.Hours Hours</td>
                <td>@product.Price</td>
                <td><a class="btn btn-info" asp-action="Details" asp-route-productId="@product.Id"><i class="bi-eye"></i> Details</a></td>
            </tr>
        }
    </tbody>
</table>
